{% extends 'layout.html' %}


{% block main %}
    <h1>{{title}}</h1>
    {% if user.is_authenticated %}
        <h1>{{ user.first_name }} {{user.last_name}}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <a href="">Login</a>
    {% endif %}
    {% for car in cars %}
        {% if car.image %}
            <img src="{{car.image.url}}" width="256px">
        {% endif %}
        <h2>{{car.title}}</h2>
        <p>{{car.description}}</p>
        <p>{{car.related_user.first_name}} {{car.related_user.last_name}}</p>
        <h3>Comments:</h3>
        {% for comment in car.comment_set.all %}
            <p>{{comment.related_user}}: {{comment.content}}</p>
        {% endfor %}
        <hr>
    {% endfor %}
{% endblock %}