<form method="POST">
    {% csrf_token %}

    {{form.errors}}
    
    <label for="id_username">نام کاربری:</label>
    <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">

    <label for="id_password">گذرواژه:</label>
    <input type="password" name="password" autocomplete="current-password" required="" id="id_password">

    <input type="submit" value="Login">
</form>
<a href="{% url 'password_reset' %}">بازیابی رمز عبور</a>